<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <script>
        setInterval("CountDown()", 1000);
        var maxtime = 10;
        function CountDown() {
            if (maxtime >= 0) {
                minutes = Math.floor(maxtime / 60);
                seconds = Math.floor(maxtime % 60);
                msg = "距离结束还有" + minutes + "分" + seconds + "秒";
                document.getElementById("timer").innerHTML = msg;
                if (maxtime == 5 * 60) alert("还剩5分钟");
                --maxtime;
            } else {
                clearInterval(timer);
                alert("时间到，结束!");
                document.getElementById("frm").submit();
            }
        }

    </script>

</head>

<body>
    <div id="timer"></div>
    <h2>单选题</h2>
    <form id="frm" method="GET" action="../Judge_test_grade/submitTest">
        {volist name="singleresult" id="single" }
        <div class="info">
            <h5>题目({$i})：{$single.single_title}<br /></h5>
            选项：
            <input type="radio" name="single{$i}" value="A">{$single.single_A}
            <input type="radio" name="single{$i}" value="B">{$single.single_B}
            <input type="radio" name="single{$i}" value="C">{$single.single_C}
            <input type="radio" name="single{$i}" value="D">{$single.single_D}
            <!-- {$single.singleanswer_id} -->
        </div>
        {/volist}
        <!-- <input type="hidden" name="__hash__" value="{$Request.token}"> -->
        <input type="submit" value="提交试卷">
        <!-- 表单令牌 -->


        <!-- 或者{$Request.token} -->
    </form>


</body>

</html>