<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <script>
        function fullscreen(){ 
            //在ie下可行 
         var wsh = new ActiveXObject("WScript.Shell");
         wsh.sendKeys("{F11}"); 
         }

        document.onkeydown = function(e) {
        e = window.event || e;
        var k = e.keyCode|| e.which;
        //屏蔽ctrl+R，F5键，ctrl+F5键  F3键！验证
        if ((e.ctrlKey == true && k == 82) || (k == 116)
                || (e.ctrlKey == true && k == 116)||k==114) {
            e.keyCode = 0;
            alert("当前页面不能刷新！");
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
 
        }
        if (k == 8) {
            alert("不能返回或后退！");
            e.keyCode = 0;
            e.returnValue = false;
            return false;
        }
        //屏蔽 Ctrl+n   验证可以实现效果
        if (e.ctrlKey && k == 78){
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
            }
        //屏蔽F11   验证可以实现效果
        if (k == 122) {
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
        }
        //屏蔽 shift+F10  验证可以实现效果      
        if ((e.shiftKey && k == 121)||(e.ctrlKey && k == 121)){
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
            }
 
        //屏蔽Alt+F4  
        if ((e.altKey) && (k== 115)) {
            window.showModelessDialog("about:blank", "",
                    "dialogWidth:1px;dialogheight:1px");
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
        }
        //屏蔽 Alt+ 方向键 ← ;屏蔽 Alt+ 方向键 → ！验证
        if ((e.altKey)
                && ((k == 37) || (k == 39))) {
            alert("不准你使用ALT+方向键前进或后退网页！");
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
        }
 
    };
    
    //屏蔽右键菜单，！验证
    document.oncontextmenu = function(event) {
        if (window.event) {
            event = window.event;
        }
        try {
            var the = event.srcElement;
            if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")) {
                return false;
            }
            return true;
        } catch (e) {
            return false;
        }
    };   
   

        setInterval("CountDown()", 1000);
        var maxtime ="<?php echo strtotime($_GET['end_time'])-strtotime($_GET['start_time']);?>";
        function CountDown() {
            if (maxtime >= 0) {
                minutes = Math.floor(maxtime / 60);
                seconds = Math.floor(maxtime % 60);
                msg = "距离结束还有" + minutes + "分" + seconds + "秒";
                document.getElementById("timer").innerHTML = msg;
                if (maxtime == 5 * 60) alert("还剩5分钟");
                --maxtime;
            } else {
                clearInterval(timer);
                alert("时间到，结束!");
                document.getElementById("frm").submit();
            } 
        }

    </script>

</head>

<body>
    <div id="timer"></div>
    <h2>单选题</h2>
    <form id="frm" method="GET" action="../Judge_test_grade/submitTest">
        {volist name="singleresult" id="single" }
        <div class="info">
            <h5>题目({$i})：{$single.single_title}<br /></h5>
            选项：
            <input type="radio" name="single{$i}" value="A">{$single.single_A}
            <input type="radio" name="single{$i}" value="B">{$single.single_B}
            <input type="radio" name="single{$i}" value="C">{$single.single_C}
            <input type="radio" name="single{$i}" value="D">{$single.single_D}
            <!-- {$single.singleanswer_id} -->
        </div>
        {/volist}
        <h2>多选题</h2>
        {volist name="multiresult" id="multi" }
        <div class="info">
            <h5>题目({$i})：{$multi.multi_title}<br /></h5>
            选项：
            <input type="checkbox" name="multi{$i}[]" value="A">{$multi.multi_A}
            <input type="checkbox" name="multi{$i}[]" value="B">{$multi.multi_B}
            <input type="checkbox" name="multi{$i}[]" value="C">{$multi.multi_C}
            <input type="checkbox" name="multi{$i}[]" value="D">{$multi.multi_D}
            <!-- {$single.singleanswer_id} -->
        </div>
        {/volist}
        <h2>判断题</h2>
        {volist name="judgmentresult" id="judgment" }
        <div class="info">
            <h5>题目({$i})：{$multi.multi_title}<br /></h5>
            选项：
            <input type="checkbox" name="judgment{$i}" value="A">{$judgment.judgment_A}
            <input type="checkbox" name="judgment{$i}" value="B">{$judgment.judgment_B}
            <!-- {$single.singleanswer_id} -->
        </div>
        {/volist}
        <h2>填空题</h2>
        {volist name="blankresult" id="blank" }
        <div class="info">
            <h5>题目({$i})：{$blank.blank_title}<br /></h5>
            回答：
            <input type="text" name="blank{$i}">
            <!-- {$single.singleanswer_id} -->
        </div>
        {/volist}

        <!-- <input type="hidden" name="__hash__" value="{$Request.token}"> -->
        <input type="hidden" name="test_id" value="{$testId}">
        <input type="submit" value="提交试卷">
        <!-- 表单令牌 -->
        <!-- 或者{$Request.token} -->
    </form>


</body>

</html>