<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div>
        <div>
            <h3>学生姓名:{$stu.stu_name}</h3>
            <h4>学号:{$stu.stu_rollno}</h4>
            <table border='1'>
                <tr>
                    <td>性别</td>
                    <td>{$stu.stu_sex}</td>
                </tr>
                <tr>
                    <td>生日</td>
                    <td>{$stu.stu_birth}</td>
                </tr>
                <tr>
                    <td>专业</td>
                    <td>{$stu.stu_address}</td>
                </tr>
            </div>
        </div>
    </div>  
</body>  
</html>